# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# database (all)
/db_data/

# wordpress
/wordpress_data/wp-admin/
/wordpress_data/wp-content/index.php
/wordpress_data/wp-content/languages
/wordpress_data/wp-content/plugins/index.php
/wordpress_data/wp-content/themes/index.php
/wordpress_data/wp-includes/
/wordpress_data/index.php
/wordpress_data/license.txt
/wordpress_data/readme.html
/wordpress_data/wp-*.php
/wordpress_data/xmlrpc.php

# Configuration
/wordpress_datawp-config.php

# Example themes
/wordpress_data/wp-content/themes/twenty*/

# Example plugin
/wordpress_data/wp-content/plugins/hello.php

# Uploads
/wordpress_data/wp-content/uploads/

# Log files
*.log

# htaccess
/wordpress_data/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
/wordpress_data/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes